<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
<add key="StringConnection" value="User=SYSDBA;Password=masterkey;Database=db\\DIRECTIONS.FDB;DataSource=localhost;ServerType=1;Port=3050;Charset=UTF8" />
    <add key="newkey" value="1" />
    <add key="MedStaffFact_sid" value="" />
    <add key="Lpu_sid" value="" />
    <add key="LpuSection_sid" value="" />
    <add key="Login" value="" />
    <add key="Password" value="" />
    <add key="Domain" value="" />    
  </appSettings>
</configuration>